<html>
  <h1>Welcome to Collectify</h1>

  <div id="container">
      <form ng-hide="session.$$state.value">
          <label>email :</label>
          <input ng-model="user.email" type="email" name="email"></input><br /><br />
          <label>password :</label>
          <input ng-model="user.password" type="password" name="password"></input><br />

          <button ng-click="auth(user)" class="btn">Login</button>
      </form>
      <div ng-show="session.$$state.value">
        <a href="#" ng-click="session.$logout()">Logout</a>
      </div>

      <a href="#!/create-user">Create a new user</a>

      <ul>
          <li><a href="#!/items">List of items</a></li>
          <li><a href="#!/items/new">Create new items</a></li>
          <li><a href="#!/categories">List of categories</a></li>
          <li><a href="#!/categories/new">Create new categories</a></li>
      </ul>
  </div>
</html>
