a {
  cursor: pointer;
}

.spacer {
	margin-top: 20px;
}

.hspacer {
  margin-left: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428BCA;
  color: #ffffff;
}

.clickable {
	cursor: pointer;
}

.email-content {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 2px;
}

.colFrom {
  width: 20%;
}

.colTo {
  width: 15%;
}

.colSubject {
  width: 45%;
}

.colDate {
  width: 20%;
}

.highlightingSearch {
  background-color: #FFD42A;
}

.labelNewMail {
  width: 70px;
}

.input-group {
  width: 100%;
}

.newMailContent {
  width: 100%;
}

input.ng-invalid {
  background-color: rgba(255, 0, 0, 0.5);
}
